.btnAdd{
    background-color: rgb(93, 93, 234);
    border: 2px solid white;
    color: white;
    padding: auto;
    margin: auto;
}
.btnRemove{
    background-color: red;
    border: 2px solid white;
    color: white;
    padding: auto;
    margin: auto;
}
.cardMain{
    margin: 5px 5px 5px 5px;
    padding: 5px;
}